@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
html,
body,
:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
*::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 4px;
}
*::-webkit-scrollbar-track:hover {
	background-color: #ddd;
}

:root {
	--tiger-100: #fff3e4;
	--tiger-200: #f48c06;
	--midnight-100: #696984;
	--midnight-200: #252641;
	--midnight-300: #2f327d;
	--midnight-400: #171b41;
	--neutral-100: #6c6c6c;
	--neutral-200: #464646;
	--font-poppins: "Poppins", sans-serif;
	--font-nunito-sans: "Nunito Sans", sans-serif;
}

.section__padding {
	padding: 4rem 0;
}

.span__tiger-200 {
	color: var(--tiger-200);
}

.heading__one-bold {
	color: var(--midnight-300);
	font-family: var(--font-poppins);
	line-height: auto;
	letter-spacing: 0%;
	font-weight: bold;
	font-size: 54px;
}

.heading__two-bold {
	font-size: 44px;
	color: var(--midnight-300);
	font-family: var(--font-poppins);
	line-height: 180%;
	letter-spacing: 0%;
	font-weight: bold;
}

.heading__three-bold {
	font-size: 36px;
	color: var(--midnight-300);
	font-family: var(--font-nunito-sans);
	line-height: 180%;
	letter-spacing: 0%;
	font-weight: bold;
}

.heading__three-medium {
	font-size: 36px;
	color: var(--midnight-300);
	font-family: var(--font-poppins);
	line-height: 160%;
	letter-spacing: 0%;
	font-weight: 500;
}

.heading__four-medium {
	font-size: 28px;
	color: var(--midnight-100);
	font-family: var(--font-poppins);
	line-height: 160%;
	letter-spacing: 2%;
	font-weight: 500;
}

.paragraph__one-regular {
	color: var(--neutral-200);
	font-size: 24px;
	line-height: 160%;
	font-family: var(--font-nunito-sans);
}

.paragraph__two-regular {
	color: var(--midnight-100);
	font-size: 24px;
	line-height: 160%;
	font-family: var(--font-poppins);
}

.button__ghost {
	border-radius: 80px;
	border: 2px solid var(--tiger-200);
	outline: none;
	color: var(--tiger-200);
	background-color: transparent;
	letter-spacing: 2%;
	font-size: 24px;
	font-family: var(--font-nunito-sans);
	font-weight: 400;
	padding-inline: 3rem;
	display: block;
	height: 80px;
	line-height: 80px;
	text-decoration: none;
	width: fit-content;
	cursor: pointer;
}

.tagline {
	display: flex;
	align-items: center;
	gap: 2rem;
	color: #525596;
	font-family: var(--font-nunito-sans);
	font-size: 20px;
	font-weight: 400;
	line-height: auto;
	letter-spacing: 20%;
	text-transform: uppercase;
}

.tagline::before {
	content: "";
	height: 2px;
	width: 80px;
	background-color: #525596;
}

.blog__category {
	display: block;
	width: fit-content;
	padding-inline: 1.8rem;
	height: 40px;
	line-height: 40px;
	border-radius: 80px;
	color: var(--midnight-200);
	background-color: #f4c467;
	letter-spacing: 2%;
	font-family: var(--font-poppins);
	font-weight: 500;
	font-size: 20px;
	border: none;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
}
