/* HEADER */
.header {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	background-color: var(--tiger-100);
	overflow: hidden;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0;
	width: 100%;
	max-width: 1694px;
	margin: auto;
}

.header__nav-lists {
	flex: 1;
	display: flex;
	gap: 4rem;
	align-items: center;
	justify-content: end;
}

.header__nav-lists ul {
	display: flex;
	align-items: center;
	gap: 4rem;
	list-style: none;
}

.header__nav-lists li {
	color: var(--midnight-200);
	font-size: 22px;
	font-family: var(--font-poppins);
	font-weight: 400;
	line-height: auto;
	letter-spacing: 2%;
}

.header__nav-lists div {
	display: flex;
	gap: 2rem;
}

.header__nav-lists div button {
	height: 60px;
	line-height: 60px;
	font-family: var(--font-poppins);
	font-size: 22px;
	letter-spacing: 2%;
	line-height: auto;
	padding-inline: 3rem;
	border: none;
	outline: none;
	border-radius: 50px;
	cursor: pointer;
}

.header__nav-lists div button:first-child {
	color: var(--neutral-100);
	background-color: #fff;
	box-shadow: 0 14px 44px -6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 14px 44px -6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 14px 44px -6px rgba(0, 0, 0, 0.2);
}

.header__nav-lists div button:last-child {
	color: #fff;
	background-color: var(--tiger-200);
}

.header__content {
	padding-inline: 0;
	padding-top: 0;
	width: 100%;
	max-width: 1694px;
	margin: auto;
}

.header__content-container {
	padding-top: 4rem;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.header__content-container__texts {
	padding-top: 8rem;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 2.5rem;
}

.header__content-container__texts div {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.header__content-container__texts div > * {
	cursor: pointer;
}

.header__content-container__texts div button {
	border: none;
	outline: none;
	border-radius: 50px;
	height: 80px;
}

.header__content-container__texts div button:first-child {
	width: 220px;
	color: #fff;
	background-color: var(--tiger-200);
	font-weight: 600;
	font-size: 24px;
	font-family: var(--font-poppins);
}

.header__content-container__texts div button:nth-child(2) {
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.header__content-container__texts div p {
	font-family: var(--font-poppins);
	color: var(--midnight-200);
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0%;
	line-height: auto;
}

/* Main */
.main__container {
	width: 100%;
	max-width: 1694px;
	margin: auto;
	background-color: #fff;
}

/* Company */
.company {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.company__ads {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* All In One */
.allinone {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 6rem;
}

.allinone__texts {
	width: 100%;
	max-width: 800px;
}

.allinone__cards {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}

.allinone__cards-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 5rem 1.5rem 1.5rem 1.5rem;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	position: relative;
	height: fit-content;
}

.allinone__cards-card img {
	position: absolute;
	top: -75px;
	left: 50%;
	transform: translateX(-50%);
}

.allinone__cards-card h4 {
	font-size: 30px;
	font-weight: 500;
	color: var(--midnight-200);
	font-family: var(--font-poppins);
	line-height: auto;
	letter-spacing: 0%;
}

.allinone__cards-card p {
	font-size: 20px;
	font-family: var(--font-poppins);
	color: var(--midnight-100);
	font-weight: 400;
	letter-spacing: 0%;
	line-height: 180%;
}

/* What is Skilline? */
.whatisskilline {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	gap: 6rem;
}

.whatisskilline__texts {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	gap: 1rem;
}

.whatisskilline__cards {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 7rem;
}

.whatisskilline__cards-card {
	position: relative;
	width: 100%;
	max-width: 600px;
	border-radius: 20px;
	height: 400px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.whatisskilline__cards-card::before {
	content: "";
	background-color: var(--midnight-400);
	opacity: 45%;
	z-index: 1;
	position: absolute;
	inset: 0;
}

.whatisskilline__cards-card div {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
	z-index: 2;
}

.whatisskilline__cards-card div h4 {
	font-family: var(--font-poppins);
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	line-height: auto;
	letter-spacing: 0%;
}

.whatisskilline__cards-card div button {
	border-radius: 80px;
	height: 80px;
	width: 283px;
	line-height: 80px;
	color: #fff;
	font-family: var(--font-poppins);
	font-size: 22px;
	font-weight: 500;
	border: none;
	outline: none;
}

.whatisskilline__cards-card__instructors {
	background: url("../assets/images/for-instructors.png") no-repeat;
}

.whatisskilline__cards-card__instructors div button {
	border: 1px solid #fff;
	background-color: transparent;
}

.whatisskilline__cards-card__students {
	background: url("../assets/images/for-students.png") no-repeat;
}

.whatisskilline__cards-card__students div button {
	background: rgba(35, 189, 238, 0.9);
}

/* What you can do with skilline */
.withskilline {
	display: flex;
	flex-direction: row;
	gap: 7rem;
}

.withskilline__texts {
	display: flex;
	flex-direction: column;
	padding-block: 1rem;
	gap: 2rem;
	position: relative;
	z-index: 0;
}

.withskilline__texts::before {
	content: "";
	background-color: #f4b767;
	width: 73px;
	height: 73px;
	position: absolute;
	top: 5px;
	left: -16px;
	z-index: -1;
	border-radius: 50px;
}

.withskilline__texts::after {
	content: "";
	background-color: #f4b767;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: -1;
	border-radius: 50px;
}

/* Our Features */
.ourfeatures {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* A User Interface */
.userinterface {
	display: flex;
	gap: 7rem;
}

.userinterface__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;
}

.userinterface__texts-lists {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style: none;
}

.userinterface__texts-lists li {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.userinterface__texts-lists li div {
	padding: 1rem;
	border-radius: 50px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/* Tools */
.tools {
	display: flex;
	gap: 7rem;
}

.tools__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	width: 100%;
	max-width: 800px;
}

/* Assessments */
.assessments {
	display: flex;
	gap: 7rem;
}

.assessments__texts {
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
	gap: 2rem;
	width: 100%;
	max-width: 800px;
}

/* Managements */
.management {
	display: flex;
	gap: 7rem;
}

.management__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

/* One On One */
.one-on-one {
	display: flex;
	gap: 7rem;
}

.one-on-one__texts {
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
	gap: 2rem;
	width: 100%;
	max-width: 800px;
}

/* Cta - See More Features */
.cta {
	display: flex;
	justify-content: center;
}

/* Integrations */
.integrations {
	display: flex;
	justify-content: flex-end;
	gap: 7rem;
}

.integrations__texts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 800px;
}

.integrations__tools {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

/* Testimonials */
.testimonials {
	display: flex;
	gap: 7rem;
}

.testimonials__texts {
	max-width: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.testimonials__texts ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.testimonials__texts div:last-child {
	position: relative;
	width: fit-content;
}

.testimonials__texts div:last-child a {
	padding-inline-end: 7.5rem;
}

.testimonials__texts div:last-child::before {
	content: url("../assets/images/right-arrow.png");
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 75px;
	width: 80px;
	border-radius: 80px;
	border: 1px solid var(--tiger-200);
	background-color: transparent;
}

.testimonials__images-card {
	position: relative;
	z-index: 0;
}

.testimonials__images-card__feed {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	position: absolute;
	z-index: 1;
	bottom: -120px;
	left: 80px;
	width: 680px;
	height: auto;
	background-color: #fff;
	border-radius: 20px;
	border-left: 0.5rem solid #f67766;
	padding: 3rem;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.testimonials__images-card__feed > div:first-child {
	position: relative;
	z-index: 0;
	padding-left: 2rem;
}

.testimonials__images-card__feed > div:first-child::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	height: 100%;
	background-color: #bdbdd1;
}

.testimonials__images-card__feed-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 2rem;
}

.testimonials__images-card__feed-footer h4 {
	font-size: 24px;
	font-family: var(--font-nunito-sans);
	line-height: 180%;
	letter-spacing: 0%;
	color: #5f5f7e;
	font-weight: 600;
}

.testimonials__images-card__feed-footer > div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.testimonials__images-card__feed-footer > div > div {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.testimonials__images-card__feed-footer > div > h6 {
	font-weight: 600;
	font-family: var(--font-nunito-sans);
	font-size: 18px;
	color: #80819a;
	line-height: 180%;
	letter-spacing: 2%;
}

/* Lastest News and Resources */
.resources {
	padding-top: 12rem;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	gap: 4rem;
}

.resources__texts {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	width: 100%;
}

.resources__blogs {
	display: flex;
	justify-content: center;
	gap: 7rem;
}

.resources__blogs-main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 2rem;
	width: 100%;
	max-width: 640px;
	text-align: start;
}

.resources__blogs-main h4 {
	font-family: var(--font-poppins);
	line-height: 180%;
	letter-spacing: 0%;
	font-weight: 500;
	color: var(--midnight-200);
	font-size: 26px;
}

.resources__blogs-main p,
.resources__blogs-main a {
	font-weight: 400;
	font-size: 20px;
	font-family: var(--font-poppins);
	color: var(--midnight-100);
	line-height: 180%;
	letter-spacing: 2%;
}

.resources__blogs-aside,
.resources__blogs-aside__lists {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	list-style: none;
	gap: 3.5rem;
}

.resources__blogs-aside__lists li {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	gap: 2rem;
}

.resources__blogs-aside__lists li div:first-child {
	position: relative;
	z-index: 0;
}

.resources__blogs-aside__lists li div:first-child > a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.resources__blogs-aside__lists li div:last-child {
	display: flex;
	text-align: start;
	flex-direction: column;
	gap: 2rem;
}

.resources__blogs-aside__lists li div:last-child h5 {
	color: var(--midnight-200);
	font-weight: 500;
	font-family: var(--font-poppins);
	font-size: 22px;
	line-height: 180%;
	letter-spacing: 0%;
}

.resources__blogs-aside__lists li div:last-child p {
	font-family: var(--font-poppins);
	line-height: 180%;
	letter-spacing: 2%;
	font-size: 20px;
	font-weight: 400;
}

/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6rem;
	background-color: var(--midnight-200);
	color: #fff;
}

.footer__logos {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.footer__logos div {
	width: 2px;
	height: 70px;
	background-color: #626381;
}

.footer__logos h5 {
	font-size: 22px;
	font-weight: 600;
	font-family: var(--font-poppins);
	color: #fff;
	line-height: auto;
	letter-spacing: 4%;
}

.footer__forms {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.footer__forms h4 {
	font-family: var(--font-poppins);
	color: #b2b3cf;
	font-size: 26px;
	font-weight: 500;
	line-height: auto;
	letter-spacing: 4%;
}

.footer__forms form {
	display: flex;
	gap: 1rem;
}

.footer__forms form input {
	padding: 0.7rem 2rem;
	border-radius: 80px;
	color: #83839a;
	outline: none;
	border: 1px solid #83839a;
	font-family: var(--font-poppins);
	font-size: 20px;
	font-weight: 400;
	line-height: auto;
	letter-spacing: 4%;
	background: transparent;
}

.footer__forms form button {
	background: rgb(84, 90, 231);
	background: linear-gradient(
		231deg,
		rgba(84, 90, 231, 1) 0%,
		rgba(57, 63, 207, 1) 100%
	);
	color: #fff;
	border-radius: 60px;
	height: 60px;
	line-height: 60px;
	padding-inline: 2rem;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0%;
	font-family: var(--font-poppins);
	border: none;
	outline: none;
}

.footer__informations {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.footer__informations ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
}

.footer__informations ul li,
.footer__informations h5 {
	font-family: var(--font-poppins);
	color: #B2B3CF;
	letter-spacing: 4%;
	line-height: auto;
	font-size: 22px;
	font-weight: 400;
}

.footer__informations ul div {
	width: 1px;
	height: 17px;
	background-color: #626381;
	margin-inline: 1.3rem;
}